<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard Pariwisita KTIP BPS</title>
    <link href="../assets/styles.css" rel="stylesheet">

    <!-- <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.2.1/flowbite.min.css" rel="stylesheet" /> -->
    <!-- <script src="https://cdn.tailwindcss.com"></script> -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.datatables.net/2.0.2/css/dataTables.dataTables.css" />
    <link rel="stylesheet" href="https://cdn.datatables.net/buttons/3.0.2/css/buttons.dataTables.css" />
    <link rel="stylesheet" href="https://cdn.datatables.net/fixedcolumns/5.0.0/css/fixedColumns.dataTables.css" />

    <style>
        body,
        div,
        p,
        span {
            font-family: 'Poppins';
        }

        a {
            text-decoration: underline;
        }
    </style>




</head>

<body>
    <%- include('header'); %>
        <div class="font-sans grid h-svh w-auto overflow-y-scroll gap-y-4 bg-slate-400">
            <div class="grid ml-3 mr-3" style="margin-top:4.6rem; border-radius: 20px;">
                <div class="font-semibold text-center bg-gray-700 text-white p-1 h-16"
                    style="border-radius: 20px; font-size: 2.5rem; margin-bottom:15px;">
                    <h1>Tabulasi Silang</h1>
                </div>

                <div class="flex" style="border-radius: 25px;">
                    <div class="w-1/3 shadow bg-slate-200 p-2 mr-2 h-64 overflow-y-scroll" style="border-radius: 25px;">
                        <div>Level Penyajian :</div>
                    <div class="pl-3">
                        <input id="levelProv" type="radio" name="level" value="kode_prov_baru"/> Provinsi <br>
                        <input id="levelKab" type="radio" name="level" value="kode_prov_baru,kode_kab_baru"/> Kabupaten/Kota 
                    </div>
                    <div>Rentang tahun :</div>
                    <div class="pl-3">
                        <% for(let i=0;i<data.length;i++){ %>
                            <input class="tahunCheckbox" type="checkbox" value="<%=data[i].tahun%>" checked="true"/> <%=data[i].tahun%> <br>
                            <%}%>
                    </div>
                    <div class="mb-2 flex"><span class="grow">Group By :</span> <select id="levelBtn"
                        class="text-left text-black bg-white border-2 border-neutral-400 font-medium text-sm px-5 py-1 inline-flex items-center outline-none focus:border-none focus:ring focus:ring-sky-300"
                        style="border-radius:20px;"> 
                        <option id="labelOpt" value="none" disabled selected>+ Add Level</option>
                        <option id="option1" value="jenis_akomodasi">Jenis Akomodasi</option>
                        <option id="option2" value="kelas_akomodasi">Kelas Akomodasi</option>
                    </select></div>
                     
                    <div id="levelTab">
                        <div>
                            <ul id="levelList">

                            </ul>
                        </div>
                        
                    </div>
                    <div id="previewBtn"class="text-right"><button class="text-left text-black bg-white border-2 border-neutral-400 font-medium text-sm px-5 py-1 inline-flex items-center outline-none focus:border-none focus:ring focus:ring-sky-300"
                        style="border-radius:20px;">Show Preview</button></div>
                    <div>

                    </div>
                    
                        
                    </div>
                    <div id="tabCont" class="w-2/3 shadow bg-slate-200 p-2 ml-2 h-64 overflow-y-scroll" style="border-radius: 25px;">
                        <i>Preview</i>
                    </div>
                </div>

            </div>


            <div class=""><%- include('footer'); %></div>
        </div>



        <script src="https://cdnjs.cloudflare.com/ajax/libs/echarts/5.5.0/echarts.min.js"
            integrity="sha512-k37wQcV4v2h6jgYf5IUz1MoSKPpDs630XGSmCaCCOXxy2awgAWKHGZWr9nMyGgk3IOxA1NxdkN8r1JHgkUtMoQ=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
        <script src="https://cdn.datatables.net/2.0.7/js/dataTables.js"></script>
        <script type="text/javascript" src="https://cdn.datatables.net/buttons/3.0.2/js/dataTables.buttons.js"></script>
        <script src="https://cdn.datatables.net/buttons/3.0.2/js/buttons.html5.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.10.1/jszip.min.js"></script>
        <script src="https://cdn.datatables.net/fixedcolumns/5.0.0/js/dataTables.fixedColumns.js"></script>
        <script src="https://cdn.datatables.net/fixedcolumns/5.0.0/js/fixedColumns.dataTables.js"></script>
        <script>
            
            
            $(document).ready(function () {
                $('#levelProv').prop('checked',true);
                $('#levelBtn').change(function(){
                let value = $(this).val();
                if(value=="jenis_akomodasi"){
                    $('#option1').remove();
                    $('#levelList').append('<li><button id="btnOption1" class="groupings text-black bg-white border-2 border-neutral-400 text-sm rounded-lg p-2 border-neutral-400" value="jenis_akomodasi">Jenis Akomodasi x</button></li>');
                    $('#levelBtn').val("none");
                    $('#btnOption1').click(function(){
                        $(this).remove();
                        $('#levelBtn').val("none");
                        $('#levelBtn').append('<option id="option1" value="jenis_akomodasi">Jenis Akomodasi</option>')
                    })
                }
                if(value=='kelas_akomodasi'){
                    $('#option2').remove();
                    $('#levelList').append('<li><button id="btnOption2" class="groupings rounded-lg p-2 text-black bg-white border-2 border-neutral-400 text-sm" value="kelas_akomodasi">Kelas Akomodasi x</button></li>');
                    $('#levelBtn').val("none");
                    $('#btnOption2').click(function(){
                        $(this).remove();
                        $('#levelBtn').val("none");
                        $('#levelBtn').append('<option id="option2" value="kelas_akomodasi">Kelas Akomodasi</option>')
                    })
                }
            });

            function multArr(arr){
                let z=1;
                for(let i=0;i<arr.length;i++){
                    z*=arr[i];
                }
                return z;
            }
            $('#previewBtn').click(function(){
                $('#tabCont').empty();
                $('#tabCont').append('<table id="example" class="display nowrap bg-white"></table>')
                let tahunList=[];
                let groupList=[];
                // let kodeGroup={'jenis_akomodasi':['Hotel Bintang','Hotel Non Bintang'],'kelas_akomodasi':'bintang/kelas'};
                let levelWil =$('input[name="level"]:checked').val();
                $('.tahunCheckbox').each(function(){
                    if($(this).prop('checked')){
                        tahunList.push($(this).val());
                    }
                })
                $('.groupings').each(function(){
                    groupList.push($(this).val())
                })
                // console.log(levelWil);
                // console.log(groupList);
                // console.log(tahunList);
                $.post('http://localhost:4000/tabulasi/crosstab', 
                {tahun:tahunList.join(','),
                 level:levelWil,
                 group:groupList.join(','),
                },function(data){
                    console.log(data.matrix);
                    console.log(data.columns);
                        var listHeader=[];
                        var header = $('<tr></tr>');
                        var kode = levelWil.split(',');
                        var grouping = groupList.length+1;
                        let i=0;
                        
                        while(i<kode.length){
                            
                            let str = "kode_"+ kode[i].split('_')[1];
                            console.log(str);
                            header.append('<th rowspan="'+grouping+'">'+str+'</th>');
                            i++;
                        }
                        header.append('<th rowspan="'+grouping+'">'+data.columns[i].data+'</th>');
                        console.log(data.columns[i].data);
                        listHeader[0]=header;
                        var temp=groupList.slice();
                        var listTitle = data.matrix; 
                        for(let j=0;j<listTitle.length;j++){
                            let tmp=[];
                            for(let k=0;k<groupList.length;k++){

                                if(k==0 & listTitle[j][groupList[k]]!=temp[k]){
                                    var str = "span_"+groupList[k];
                                    var strname = "nama_"+groupList[k];
                                    var len = 10*listTitle[j][str];
                                    listHeader[0].append('<th colspan="'+len+'">'+listTitle[j][strname]+'</th>')
                                }
                                else if(listTitle[j][groupList[k]]!=temp[k]){
                                    if(j==0){listHeader[k]=$('<tr></tr>')}
                                    var str = "span_"+groupList[k];
                                    var strname = "nama_"+groupList[k];
                                    var len = 10*listTitle[j][str];
                                    listHeader[k].append('<th colspan="'+len+'">'+listTitle[j][strname]+'</th>');
                                }
                                
                                tmp.push(listTitle[j][groupList[k]]);
                                
                            }
                            temp=tmp.slice();
                            if(j==0){listHeader[groupList.length]=$('<tr></tr>');
                            listHeader[groupList.length].append('<th>MKTS</th>');
                            listHeader[groupList.length].append('<th>MKTJ</th>');
                            listHeader[groupList.length].append('<th>TPK</th>');
                            listHeader[groupList.length].append('<th>MTNUS</th>');
                            listHeader[groupList.length].append('<th>TNUS</th>');
                            listHeader[groupList.length].append('<th>RLMTNUS</th>');
                            listHeader[groupList.length].append('<th>MTA</th>');
                            listHeader[groupList.length].append('<th>TA</th>');
                            listHeader[groupList.length].append('<th>RLMTA</th>');
                            listHeader[groupList.length].append('<th>RLMTGAB</th>');

                            }
                            else
                            {listHeader[groupList.length].append('<th>MKTS</th>');
                            listHeader[groupList.length].append('<th>MKTJ</th>');
                            listHeader[groupList.length].append('<th>TPK</th>');
                            listHeader[groupList.length].append('<th>MTNUS</th>');
                            listHeader[groupList.length].append('<th>TNUS</th>');
                            listHeader[groupList.length].append('<th>RLMTNUS</th>');
                            listHeader[groupList.length].append('<th>MTA</th>');
                            listHeader[groupList.length].append('<th>TA</th>');
                            listHeader[groupList.length].append('<th>RLMTA</th>');
                            listHeader[groupList.length].append('<th>RLMTGAB</th>');

                            }
            
                            
                        }
                        
                        
                        var thead = $('<thead></thead>');
                        for(let m=0;m<listHeader.length;m++){
                            thead.append(listHeader[m]);
                            console.log(listHeader[m]);
                        }
                        $('#example').append(thead);
                      
                        $('#example').DataTable({
                        dom: "B",
                        fixedColumns: {
                        start: 2

                        },
                        data: data["data"],
                        scrollX:'true',
                        columns: data["columns"],
                        buttons: [
                            {
                                extend: 'excel',
                                text: 'Export',
                            }
                        ],
                        // initComplete: function () {
                        //     $('table.dataTable').hide();
                        // }
                    });

                })  
            })
            


                
                // $.post('http://localhost:4000/tabulasi/crosstab', { group: ['jenis_akomodasi', 'kelas_akomodasi'] }, function (data) {
                //     var table = $('#example').DataTable({
                //         dom: "B",
                //         data: data["data"],
                //         paging: false,
                //         columns: [
                //             
                //             { data: 'kode_prov_baru' },
                //             {data: 'jenis_akomodasi'},
                //             {data:'kelas_akomodasi'},
                //             { data: 'MKTS_' },
                //             { data: 'MKTJ_' },
                //             { data: 'TPK_' },
                //             { data: 'MTA_' },
                //             { data: 'TA_'},
                //             { data:'RLMTA_' },
                //             { data: 'MTNUS_' },
                //             { data: 'TNUS_'},
                //             { data:'RLMTNUS_' },
                //             { data:'RLMTGAB_' }
                            
                            
                //         ],
                //         buttons: [
                //             {
                //                 extend: 'excel',
                //                 text: 'Export',
                //                 // action: function () {
                //                 //     // let n = $('#brsTable >tbody >tr').length;

                //                 //     // $.post('http://localhost:4000/tabulasi/crosstab',{group:['jenis_akomodasi','kelas_akomodasi']})
                //                 //     // window.location.reload();

                //                 // }
                //             }
                //         ],
                //         initComplete: function () {
                //             $('table.dataTable').hide();
                //         }
                //     });

                // })
            });

        </script>
</body>

</html>